body.dark {
  --primary: #d0bcff;
  --on-primary: #000000;
  --secondary: #ccc2dc;

  --surface: #121212;
  --surface-variant: #1e1e1e;
  --outline: #938f99;

  background-color: var(--surface);
  color: #fff;
}
