body.light {
  --primary: #6750a4;
  --on-primary: #ffffff;
  --secondary: #625b71;

  --surface: #ffffff;
  --surface-variant: #f3edf7;
  --outline: #79747e;

  background-color: var(--surface);
  color: #000;
}
